transformers==4.46.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
s3transfer==0.10.3
tf_keras==2.16.0
transformers==4.46.2
pillow==10.4.0
streamlit==1.37.1
Jinja2==3.1.4
protobuf==4.25.5
